<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>GetupCloud - Teste de ambiente</title>


  <link rel="stylesheet" href="/static/foundation/css/foundation.css">
  <link rel="stylesheet" href="/static/css/app.css">
  <link rel="stylesheet" href="/static/css/others/docs.css">


  <script src="/static/foundation/js/vendor/custom.modernizr.js"></script>

</head>
<body>

<div class="contain-to-grid fixheight fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a class="getuplogo" href="/">Getupcloud</a></h1>
      </li>
    </ul>


    <section class="top-bar-section show-for-medium-up">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="text">Getup is a scalable cloud computing platform</li>
        <li><a class="red" href="http://getupcloud.com">getupcloud.com</a></li>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
</div>
  {%block content%}{%endblock%}

  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <small>&copy; Todos os direitos reservados a Getup Cloud.</small>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="http://getupcloud.com/">Site</a></li>
            <li><a href="http://getupcloud.com/blog">Blog</a></li>
            <li><a href="http://getupcloud.com/#/how-it-works">Como Funciona</a></li>
            <li><a href="http://fb.com/getupcloud">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/static/foundation/js/vendor/zepto' : '/static/foundation/js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="/static/foundation/js/foundation.min.js"></script>
  <!--

  <script src="js/foundation/foundation.js"></script>

  <script src="js/foundation/foundation.alerts.js"></script>

  <script src="js/foundation/foundation.clearing.js"></script>

  <script src="js/foundation/foundation.cookie.js"></script>

  <script src="js/foundation/foundation.dropdown.js"></script>

  <script src="js/foundation/foundation.forms.js"></script>

  <script src="js/foundation/foundation.joyride.js"></script>

  <script src="js/foundation/foundation.magellan.js"></script>

  <script src="js/foundation/foundation.orbit.js"></script>

  <script src="js/foundation/foundation.reveal.js"></script>

  <script src="js/foundation/foundation.section.js"></script>

  <script src="js/foundation/foundation.tooltips.js"></script>

  <script src="js/foundation/foundation.topbar.js"></script>

  <script src="js/foundation/foundation.interchange.js"></script>

  <script src="js/foundation/foundation.placeholder.js"></script>

  <script src="js/foundation/foundation.abide.js"></script>

  -->
  <script>
    $(document).foundation();
  </script>
  {%block js%}{%endblock%}
</body>
</html>
