{%extends 'base.html'%}

{%block js%}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

        var sse = new EventSource('/haproxy-stats/{{testid}}');
        sse.onmessage = function(message) {
            // console.log('A message has arrived!');
            // console.log(message.data);
            var dados = $.parseJSON(message.data);
            // console.log(dados)
            // $('#output').append('<li>'+dados.results+'</li>');
        	$("#results-table > tbody").html("");

        	if(dados.length > 0){

	            for(var i=0; i<dados.length; i++){
	            	dado = dados[i];
	            	// console.log(dado);
	            	$('#results-table > tbody:first')
	            		.append('<tr><td>'+dado.svname+'</td><td>'+dado.scur+'</td><td>'+dado.smax+'</td><td>'+dado.stot+'</td><td>'+dado.status+'</td></tr>');
	            }

        	}else{
        		$('#results-table > tbody:first')
            		.append('<tr><td colspan="5">ainda não entrou em execução aguarde...</td></tr>');
        	}
        };

        sse.onerror = function(e) {
		  	console.log("EventSource closed");
		};

});

</script>
{%endblock%}

{%block content%}
	<div class="row">
		<div class="large-12 columns">
			<h2>Execução do teste de escalabilidade</h2>
			<h3>ID da sua aplicação: <strong>{{testid}}</strong></h3>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="large-8 columns">

			<h3 class="subheader">Ações tomadas</h2>

			<ul class="test no-bullet">
				<li>Sua aplicação foi colodada na fila para execução do teste</li>
				<li>Assim que for concluído, será enviado para você um email com o relatório</li>
				<li>Muito obrigado por testar o ambiente da GetupCloud.</li>
				<li>O relatório final também vai estar disponível através <a href="/report/{{testid}}.html">deste link</a>.</li>
			</ul>

			<h3 class="subheader">Veja algumas estatísticas em realtime da sua aplicação sendo testada:</h3>

			<table id="results-table" class="table-realtime">
				<thead>
					<tr>
						<th>Gear</th>
						<th>Corrente</th>
						<th>Maximo</th>
						<th>Total</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr><td colspan="5">ainda não entrou em execução aguarde...</td></tr>
				</tbody>
			</table>

		</div>

		<div class="large-4 columns">
			<h3>Getup</h3>
			<p>A Getup Cloud é uma plataforma (PaaS) para hospedagem de sites na nuvem, com recursos dedicados, semelhante a um cloud server ou uma instância EC2 na Amazon, só que ainda melhor.</p>
			<p>
				<a target="_blank" href="http://getupcloud.com/blog/hospedagem-sites-focada-performance" class="button tiny round right">Veja Mais</a>
			</p>
			<h3>Algumas informações:</h3>
			<dl>
				<dt>Gear:</dt>
				<dd>É o espaço de execução.</dd>
				<dt>Corrente:</dt>
				<dd>É o número de conexões sendo executadas no gear atualmente.</dd>
				<dt>Máximo:</dt>
				<dd>É o número máximo de conexões simultâneas que o gear já respondeu.</dd>
				<dt>Total:</dt>
				<dd>É o número total de conexões já respondidas pelo gear.</dd>
				<dt>Status:</dt>
				<dd>Status do gear atualmente.</dd>
			</dl>
		</div>

	</div>

{%endblock%}
