{%extends 'base.html'%}

{%block content%}
	<div class="row">
		<div class="large-12 columns">
			<h2>Execução do teste de escalabilidade</h2>
			<h3>ID: {{testid}}</h3>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="large-8 columns">
			<div class="row">
				<ul class="test">
					<li>Sua aplicação foi colodada na fila para execução do teste</li>
					<li>Assim que for concluído, será enviado para você um email com o relatório</li>
					<li>Muito obrigado por testar o ambiente da GetupCloud.</li>
					<!-- <li>Finalizado: veja em <a href="/report/{{testid}}.html">Relatório de Resultados</a></li> -->
				</ul>

			</div>

		</div>

		<div class="large-4 columns">
			<h4>Getup</h4>
			<p>A Getup é uma empresa que presta serviços de hospedagem especializada em aplicações com performance. Veja mais no  <a href="http://getupcloud.com">nosso site</a>.</p>

			<h4>Esta aplicação</h4>
			<p>Esta aplicação o ajudará a fazer um teste de performance e ambiente nos nossos servidores. Este teste é parametrizado e no final você saberá, através de um relatório, tudo o que ocorreu no teste, com comparativos, previsões de gastos, e tudo mais !</p>
			<p>O relatório da sua aplicação ficará disponível para posterior consulta através de um link enviado para seu email.</p>
		</div>

	</div>

{%endblock%}
