{%extends 'base.html'%}

{%block content%}

<!-- 	<div class="row">
				<ul class="breadcrumbs">
					<li><strong>Estatísticas:</strong></li>
					<li>5 na fila</li>
					<li>3 executando</li>
					<li>&gt; 1000 hrs</li>
					<li>&gt; 120 conec</li>
					<li>&gt; 90% CPU</li>
				</ul>
	</div> -->

	<div class="row">
		<div class="large-12 columns">
			<h1>Teste de Escalabilidade</h1>
			<p>Esta aplicação o ajudará a fazer um teste de performance e ambiente nos nossos servidores. Este teste é parametrizado e no final você saberá, através de um relatório, tudo o que ocorreu no teste, com comparativos, previsões de gastos, e tudo mais !</p>
			<p>O relatório da sua aplicação ficará disponível para posterior consulta através de um link enviado para seu email.</p>
		</div>

		<div class="large-8 columns">



			<!-- FORM -->
			<div class="row">

				<form class="custom" action="{{url_for('begin_test')}}" method="POST" data-abide>
					<fieldset>

					<legend>Informe os dados abaixo:</legend>

					<div class="row">
						<div class="small-11">
							<div class="row">
								<div class="small-3 columns">
									<label for="name" class="right inline">Nome </label>
								</div>
								<div class="small-9 columns">
									<input type="text" required id="name" name="name" placeholder="Fulano de tal...">
									<small class="error">Your name is required.</small>
								</div>
							</div>

							<div class="row">
								<div class="small-3 columns">
									<label for="email" class="right inline">E-Mail </label>
								</div>
								<div class="small-9 columns">
									<input type="email" id="email" required name="email" placeholder="meu@email.com">
									<small class="error">Your correct e-mail is required.</small>
								</div>
							</div>


							<div class="row">
								<div class="small-3 columns">
									<label for="empresa" class="right inline">Empresa </label>
								</div>
								<div class="small-9 columns">
									<input type="text" id="company" required name="company" placeholder="Minha Empresa">
									<small class="error">The company name is required.</small>
								</div>
							</div>


							<div class="row">
								<div class="small-3 columns">
									<label for="site" class="right inline">Site/blog </label>
								</div>
								<div class="small-9 columns">
									<input type="url" id="site" name="site" placeholder="http://meusite.com.br">
									<small class="error">Please, type a correct url.</small>
								</div>
							</div>

							<div class="row">
								<div class="small-3 columns">
									<label for="test_connections_size" class="right inline">Tamanho do teste: </label>
								</div>
								<div class="small-9 columns">
									<select name="test_connections_size" id="test_connections_size">
										{%for t in conf.AB_TEST_CONCURRENCY%}
										<option value="{{t}}">{{t}} conexões</option>
										{%endfor%}
									</select>
								</div>
							</div>

							<div class="row">
								<div class="small-12 columns text-center">
									<input type="submit" class="small success button" value="Confirmar e iniciar o teste!">
								</div>
							</div>
						</div>
					</div>
					</fieldset>
				</form>

			</div>
			<!-- FORM -->

		</div>

		<div class="large-4 columns">

			<h3>Getup</h3>
			<p>A Getup Cloud é uma plataforma (PaaS) para hospedagem de sites na nuvem, com recursos dedicados, semelhante a um cloud server ou uma instância EC2 na Amazon, só que ainda melhor.</p>
			<p>
				<a target="_blank" href="http://getupcloud.com/blog/hospedagem-sites-focada-performance" class="button tiny round right">Veja Mais</a>
			</p>

		</div>
	</div>

{%endblock%}
